.exellent
    display: flex
    justify-content: center
    padding: 80px 20px 0 20px
    max-width: 1920px
    margin: 0 auto
    background-color: #fbfaf8
    &-img
        width: 423px
        height: 616px
        background-image: url('../img/iphone_in_hand_10962.png')
    &-txt
        max-width: 657px
        &__title
            font-family: Raleway
            font-size: 30px
            line-height: 1.2
            font-weight: 600
            color: #555555
            margin: 115px 0 0 0
        &__description
            font-family: Montserrat
            font-size: 16px
            line-height: 28px
            font-weight: 300
            color: #8c8c8c
        &__property
            font-family: Montserrat
            font-size: 16px
            line-height: 32px
            font-weight: 300
            color: #8c8c8c