.video 
    margin: 0 auto
    background-image: url('../img/bg_video.jpg')
    background-position: center
    background-repeat: no-repeat
    max-width: 1920px
    &-wrp
        margin: 0 auto
        border: 1px solid red
