* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd2d2;
}

a:active {
  color: #fde297;
}

a:focus {
  color: #c7b299;
}

.container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3.0px;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  line-height: 53px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 50px auto;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.button:hover {
  background-color: #999999;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.header {
  margin: 0 auto;
  padding: 40px 0;
  background-image: url("../img/photo_11982.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-logo__icon {
  fill: #ffffff;
}

.navbar-logo__txt {
  font-family: raleway, arial, sans-serif;
  font-size: 33px;
}

.navbar-link {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 0 200px;
}

.navbar-link__menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.navbar-link ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-cards {
  margin: 0 10px;
  border: none;
  width: 18px;
  height: 24px;
  background: url(../img/icon_cart_12273.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-cards:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #998675;
}

form {
  width: 30px;
  height: 30px;
}

input[type="search"] {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #fff;
  text-transform: capitalize;
  outline: none;
  background-color: transparent;
  background-image: url("../img/icon_search_12272.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

input[type="search"]:focus {
  width: 100px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position-x: right;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 250px auto 0 auto;
  padding: 0 20px;
}

.hero-arrow__left {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.hero-arrow__left:hover {
  border-top: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
}

.hero-arrow__right {
  width: 40px;
  height: 40px;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid #ffffff;
}

.hero-arrow__right:hover {
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
}

.hero-wrp {
  text-align: center;
}

.hero__subtitle {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.hero__title {
  margin: 15px 0;
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
}

.hero__description {
  max-width: 562px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

.hero-padington {
  width: 100%;
  text-align: center;
  margin: 210px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-padington__item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #cccccc;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.5;
  border: 2.0px solid transparent;
}

.hero-padington__item:hover {
  background-color: transparent;
  border: 2.0px solid #d3c1ad;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 290px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}

.features:hover .features-icon {
  fill: #c7b299;
}

.features:hover .features-title {
  color: #c7b299;
}

.features:hover:after {
  background-color: #c7b299;
}

.features-icon {
  fill: #c7b299;
  margin: 0 0 20px 0;
}

.features-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.features-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.ideas {
  margin: auto;
  max-width: 1920px;
  background-color: #fbfaf8;
  text-align: center;
  padding: 80px 0 0 0;
}

.ideas-title {
  margin: 0 auto;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.ideas-description {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 900px;
  margin: 25px auto 40px auto;
  padding: 0 20px;
}

.ideas-block {
  max-width: 1230px;
  min-height: 465px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  transition: width 1s, height 1s, transform 1s, -webkit-transform 1s;
  position: relative;
}

.ideas-block__center {
  width: 770px;
  height: 482px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.ideas-block__center:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.ideas-block__left {
  width: 770px;
  height: 400px;
  bottom: 0;
  position: absolute;
  left: -155px;
}

.ideas-block__left:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  z-index: 4;
}

.ideas-block__right {
  width: 770px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: -155px;
}

.ideas-block__right:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  z-index: 5;
}

.purchase {
  margin: 0 auto;
  max-width: 1920px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.purchase-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.purchase-txt {
  margin: 20px 0;
}

.purchase-color {
  color: #998675;
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
}

.purchase-subtitle {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.purchase-text {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin: 8px 0 0 0;
}

.purchase-button {
  margin: 50px 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-title {
  margin: 80px auto 0 auto;
  width: 100%;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.project-subtitle {
  display: block;
  margin: 24px auto 40px auto;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 900px;
  text-align: center;
}

.project-button {
  margin: 120px auto 50px auto;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-buttons__click {
  margin: 10px;
  background-color: #ffffff;
  width: 160px;
  height: 32px;
  border: 1.0px solid #ebebeb;
  border-radius: 3.0px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #8c8c8c;
}

.project-buttons__click:active {
  background-color: #998675;
  color: #ffffff;
}

.article {
  width: 370px;
  height: 237px;
  margin: 80px 0 60px 0;
  position: relative;
}

.article:hover .article-btn-link {
  display: block;
  color: #c7b299;
}

.article:hover .article-btn-search {
  display: block;
}

.article:hover .article-btn-link:hover {
  background-color: transparent;
}

.article:hover .article-btn-search:hover {
  background-color: transparent;
}

.article:hover .article-photo {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
  background-color: #362f2d;
}

.article:hover .article-txt-wrapper:before {
  border-bottom: 10px solid #362f2d;
}

.article-photo {
  display: block;
  width: 100%;
}

.article-txt-wrapper {
  width: 100%;
  position: relative;
  background-color: #fbfaf8;
}

.article-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.article-title {
  display: block;
  text-align: left;
  padding: 30px 0 0 28px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.article-txt {
  display: block;
  text-align: left;
  padding: 10px 0 28px 28px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.article-btn-link, .article .article-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%;
}

.article-btn-link {
  background-image: url("../img/link_10955.svg");
  left: 35%;
}

.article-btn-search {
  background-image: url("../img/lupa_10956.svg");
  right: 35%;
}

.box {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 705px;
  position: relative;
  overflow: hidden;
  background-color: #ccc;
}

.video-item {
  width: 100%;
  height: 100%;
}

.video-txt-wrp {
  width: 552px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.video-txt-btn {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  outline: none;
  background-image: url("../img/play_video.png");
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.video-txt-p {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.video-txt-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 50px 0 30px 0;
}

.video-txt-time {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.exellent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 20px 0 20px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fbfaf8;
}

.exellent-img {
  width: 423px;
  height: 616px;
  background-image: url("../img/iphone_in_hand_10962.png");
}

.exellent-txt {
  max-width: 657px;
}

.exellent-txt__title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 115px 0 0 0;
}

.exellent-txt__description {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.exellent-txt__property {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  list-style-type: none;
}

.exellent-txt__property__list {
  position: relative;
}

.exellent-property__list:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 22px;
  height: 22px;
  background: url("..img/num.svg") no-repeat 50% 50%;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  text-align: center;
}

.advantages-box {
  margin: 35px;
  position: relative;
}

.advantages-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 42.55%;
  width: 14.89%;
  border-bottom: 2px solid #fff;
}

.advantages-score {
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  display: block;
  margin: 30px 0 20px 0;
}

.advantages-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}

.recent {
  text-align: center;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recent-title {
  width: 100%;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.recent-desription {
  width: 100%;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.recent-card {
  margin: 15px;
  width: 370px;
  min-height: 395px;
  border: 1.0px solid #f8f8f8;
  text-align: left;
  padding: 0 0 30px 0;
}

.recent-card:hover {
  background-color: #362f2d;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
}

.recent-card__img {
  width: 100%;
}

.recent-card__wrapper {
  text-align: left;
  margin-top: -5px;
}

.recent-card__sudtitle {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 30px 0 0 30px;
}

.recent-card__sudtitle:hover {
  color: #c7b299;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.recent-card__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 20px 0 27px 30px;
}

.recent-card__text:hover {
  color: #ffffff;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.recent-card__link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  margin: 0 0 30px 30px;
}

.partners {
  margin: 0 auto;
  background-image: url("../img/bg_partners.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-brand {
  margin: 140px 45px;
}

.contacts {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 10px;
}

.contacts-box {
  max-width: 300px;
}

.contacts-waxom__txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}

.contacts-waxom__link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

.contacts-post__title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.contacts-post__txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.contacts-post__subtitle {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.contacts-post__description {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.contacts-our__title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.contacts-our__tvit {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #00bff3;
}

.contacts-our__txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.contacts-our__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

.contacts-wiget__title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.contacts-wiget__img {
  width: 130px;
  height: 98px;
}

.footer {
  margin: 0 auto;
  background-color: #111111;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-left {
  margin: 45px 0;
}

.footer-left__txt {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-left__waxom {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

.footer-left__link {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-right {
  margin: 45px 0;
}

.footer-right__txt {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-right__text {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

@media (max-width: 1100px) {
  .container {
    max-width: 860px;
    padding: 0 40px;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 800px;
    padding: 0 30px;
  }
  .hero {
    margin: 155px auto 0 auto;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__description {
    font-size: 14px;
    max-width: 420px;
  }
  .hero-dots {
    margin: 100px 0 0 0;
  }
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-link {
    margin: 0;
  }
  .navbar__card {
    margin: 0 0 0 200px;
  }
  .navbar-input__search {
    margin: -20px 200px 0 0;
  }
  .hero {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 35px auto 0 auto;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__description {
    font-size: 12px;
    max-width: 280px;
  }
  .hero-dots {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */