* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd2d2;
}

a:active {
  color: #fde297;
}

a:focus {
  color: #c7b299;
}

.container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3.0px;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  line-height: 53px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 50px auto;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.button:hover {
  background-color: #999999;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  margin: 0 auto;
  padding: 40px 0;
  background-image: url("../img/photo_11982.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-logo__icon {
  fill: #ffffff;
}

.navbar-logo__txt {
  font-family: raleway, arial, sans-serif;
  font-size: 33px;
}

.navbar-link {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 0 200px;
}

.navbar-link__menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.navbar-link ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar__card {
  margin: 0 10px;
}

.navbar__search {
  margin: 0 10px;
}

.navbar-input__search {
  background: url("../img/icon_search_12272.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
}

.navbar-input__search:focus {
  background-color: #e2e2e2;
  outline: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 250px auto 0 auto;
}

.hero-wrp {
  text-align: center;
}

.hero__subtitle {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.hero__title {
  margin: 15px 0;
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
}

.hero__description {
  max-width: 562px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

.hero-dots {
  width: 100%;
  text-align: center;
  margin: 210px 0 0 0;
}

.hero-dots__radio {
  position: relative;
  opacity: 0.5;
}

.hero-dots__radio::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fcfcfc;
  opacity: 1;
  z-index: 1;
}

.hero-dots__radio::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #86e3f3;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-dots__radio:checked {
  opacity: 1;
  width: 15px;
  height: 15px;
  border: 2.0px solid #d3c1ad;
  border-radius: 50%;
}

.hero-dots__radio:focus {
  width: 15px;
  height: 15px;
  border: 2.0px solid #d3c1ad;
  border-radius: 50%;
  opacity: 1;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 290px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}

.features:hover .features-icon {
  fill: #c7b299;
}

.features:hover .features-title {
  color: #c7b299;
}

.features:hover:after {
  background-color: #c7b299;
}

.features-icon {
  fill: #c7b299;
  margin: 0 0 20px 0;
}

.features-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.features-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-title {
  width: 100%;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.project-subtitle {
  display: block;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.article {
  width: 370px;
  height: 237px;
  margin: 80px 0 60px 0;
  position: relative;
}

.article:hover .article-btn-link {
  display: block;
  color: #c7b299;
}

.article:hover .article-btn-search {
  display: block;
}

.article:hover .article-btn-link:hover {
  background-color: transparent;
}

.article:hover .article-btn-search:hover {
  background-color: transparent;
}

.article:hover .article-photo {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
  background-color: #362f2d;
}

.article:hover .article-txt-wrapper:before {
  border-bottom: 10px solid #362f2d;
}

.article-photo {
  display: block;
  width: 100%;
}

.article-txt-wrapper {
  width: 100%;
  position: relative;
  background-color: #fbfaf8;
}

.article-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.article-title {
  display: block;
  text-align: left;
  padding: 30px 0 0 28px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.article-txt {
  display: block;
  text-align: left;
  padding: 10px 0 28px 28px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.article-btn-link, .article .article-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%;
}

.article-btn-link {
  background-image: url("../img/link_10955.svg");
  left: 35%;
}

.article-btn-search {
  background-image: url("../img/lupa_10956.svg");
  right: 35%;
}

@media (max-width: 1100px) {
  .container {
    max-width: 860px;
    padding: 0 40px;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 800px;
    padding: 0 30px;
  }
  .hero {
    margin: 155px auto 0 auto;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__description {
    font-size: 14px;
    max-width: 420px;
  }
  .hero-dots {
    margin: 100px 0 0 0;
  }
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-link {
    margin: 0;
  }
  .navbar__card {
    margin: 0 0 0 200px;
  }
  .navbar-input__search {
    margin: -20px 200px 0 0;
  }
  .hero {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 35px auto 0 auto;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__description {
    font-size: 12px;
    max-width: 280px;
  }
  .hero-dots {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */